@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
:root{
  --acc: #e1f3dd;
  --font: #051200;
  --bg: #F0FAE8;
  --title: #022c00;
  --pos: #013F00;
  --neg:#850000 ; 
  --edt: #00006A;
  --bebas: 'Bebas Neue', sans-serif;
  --thin: 'News Cycle', sans-serif;
  --txt: 'Assistant', sans-serif;
  --titlefont:  "Fjalla One", sans-serif;

}


body {
  margin: 0;
  overflow-x: hidden;
  min-width: 100%;
  background-color: var(--bg);
  font-family: var(--txt);
}
button, input{
  border: none;
}
button{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  color: var(--font);
  font-weight: bold;
}

header, footer{
  background-color: var(--acc);
}

.form-title{
  font-family: var(--titlefont);
  text-transform: uppercase;
  color: var(--title);
  font-size: 1.5rem;
}
.form-group{
  font-family: var(--txt);
  color: var(--font);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-group input{
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
h1, h2{
  font-family: var(--titlefont);
  color: var(--title);
}
h1{
  font-weight: bold;
}
#desc input{
  padding: 0.75rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
