@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
:root{
  --acc: #e7eceb;
  --font: #000C12;
  --bg: #F6F6F6;
  --title: #001D2C;
  --bebas: 'Bebas Neue', sans-serif;
  --thin: 'News Cycle', sans-serif;

}


body {
  margin: 0;
  overflow-x: hidden;
  min-width: 100%;
  background-color: var(--bg);
}


header, footer{
  background-color: var(--acc);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
