.form-search input{
    padding: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 2rem;
    font-family: var(--thin);
    font-size: 1rem;
    width: 12.5rem;
}