.container{
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}
.container, .container-searchadd{
    display: flex;
    align-items: center;
}
.container-searchadd{
    flex-direction: row;
}