.container{
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}
.container, .container-searchadd{
    display: flex;
    align-items: center;
}
.container-searchadd{
    flex-direction: row;
}
.edithandler-btn{
    border-radius: 50%;
    background-color: var(--acc);
    color: var(--font);
    margin: 0.5rem;
    padding: 0.5rem;
}
.edithandler-btn:hover{
    color: var(--bg);
    background-color: var(--edt);
    
  }